<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sspu.mapper.TeachplanMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sspu.entity.Teachplan">
        <id column="id" property="id"/>
        <result column="pname" property="pName"/>
        <result column="parentid" property="parentId"/>
        <result column="grade" property="grade"/>
        <result column="media_type" property="mediaType"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="description" property="description"/>
        <result column="timelength" property="timeLength"/>
        <result column="orderby" property="orderBy"/>
        <result column="course_id" property="courseId"/>
        <result column="course_pub_id" property="coursePubId"/>
        <result column="status" property="status"/>
        <result column="is_preview" property="isPreview"/>
        <result column="create_date" property="createDate"/>
        <result column="change_date" property="changeDate"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        , pname, parentid, grade, media_type, start_time, end_time, description, timelength, orderby, course_id, course_pub_id, status, is_preview, create_date, change_date
    </sql>

    <resultMap id="selectTreeNodesMap" type="com.sspu.dto.TeachplanDto">

        <id column="one_id" property="id" />
        <result column="one_pname" property="pName" />
        <result column="one_parentid"     property="parentId" />
        <result column="one_grade"  property="grade" />
        <result column="one_media_type"   property="mediaType" /> 
        <result column="one_start_time"   property="startTime" /> 
        <result column="one_end_time"   property="endTime" />
        <result column="one_orderby"   property="orderBy" />
        <result column="one_course_id"   property="courseId" /> 
        <result column="one_course_pub_id"   property="coursePubId" /> 
        <collection property="teachPlanTreeNodes" ofType="com.sspu.dto.TeachplanDto">
            <id column="two_id" property="id" />
            <result column="two_pname" property="pName" />
            <result column="two_parentid"     property="parentId" />
            <result column="two_grade"  property="grade" />
            <result column="two_media_type"   property="mediaType" /> 
            <result column="two_start_time"   property="startTime" /> 
            <result column="two_end_time"   property="endTime" />
            <result column="two_orderby"   property="orderBy" />
            <result column="two_course_id"   property="courseId" /> 
            <result column="two_course_pub_id"   property="coursePubId" /> 
            <association property="teachplanMedia" javaType="com.sspu.entity.TeachplanMedia">
                <result column="teachplanMeidaId" property="id" />
                <result column="media_fileName" property="mediaFilename" />
                <result column="mediaId" property="mediaId" />
                <result column="two_id" property="teachplanId" />
                <result column="two_course_id" property="courseId" /> 
                <result column="two_course_pub_id" property="coursePubId" /> 
            </association>
        </collection>

    </resultMap>

    <select id="selectTreeNodes" parameterType="long" resultMap="selectTreeNodesMap">

        SELECT one.id            one_id,
               one.pname         one_pname,
               one.parentid      one_parentid,
               one.grade         one_grade,
               one.media_type    one_media_type,
               one.start_time    one_start_time,
               one.end_time      one_end_time,
               one.orderby       one_orderby,
               one.course_id     one_course_id,
               one.course_pub_id one_course_pub_id,
               two.id            two_id,
               two.pname         two_pname,
               two.parentid      two_parentid,
               two.grade         two_grade,
               two.media_type    two_media_type,
               two.start_time    two_start_time,
               two.end_time      two_end_time,
               two.orderby       two_orderby,
               two.course_id     two_course_id,
               two.course_pub_id two_course_pub_id,
               m.media_fileName  media_fileName,
               m.id              teachplanMeidaId,
               m.media_id        mediaId
        FROM teachplan one
                 LEFT JOIN teachplan two ON two.parentid = one.id
                 LEFT JOIN teachplan_media m ON m.teachplan_id = two.id
        WHERE one.parentid = '0'
          and one.course_id = #{value}
        ORDER BY one.orderby,
                 two.orderby
    </select>

</mapper>